
@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>

<title>  Editar Estado </title>
<h3 class="text-center mb-3 mt-3 text-info">Editar Estado</h3>

<form method="post" action="/estado/update">
    <input type="hidden" name="id" value="@ViewBag.Estado.Id" />

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-nome">Nome</label>
                <input type="text" name="nome" id="campo-nome" class="form-control" value="@ViewBag.Estado.Nome" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="campo-sigla">Sigla</label>
                <input type="text" name="sigla" id="campo-sigla" class="form-control" value="@ViewBag.Estado.Sigla" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-right"><i class="fas fa-save"></i> Salvar</button>
        </div>
    </div>
</form>

